
<h1>Share Credentials</h1>
<div ng-contoller="shareCredentialsController as credentials"></div>
	<div class = "icons">
		<a href="mailto:someone%40provider.com?subject=Hello%20from%20Yaritza%20Rodriguez&body=Hi%2C%20%0AIt%20was%20nice%20chatting%20with%20you%20today!%20This%20is%20a%20link%20to%20my%20resume%20for%20your%20consideration.%0Ahttps%3A%2F%2Fdocs.google.com%2Fpresentation%2Fd%2F1JoBWNvod_WUPCGWXvYv_lc4ESRgSGBAW7wPxYGZ4cJY%2Fedit%3Fusp%3Dsharing%0A%0AKind%20regards%2C%0AYaritza%20Rodriguez" target="_blank"><img src="img1.png" alt="Resume icon"></a>
	</div>

	<div class = "icons">
		<a href="mailto:someone%40provider.com?subject=Yaritza%20Rodriguez's%20contact%20info.&body=EMAIL%3A%20yaritza.rodriguez%40flatironschool.com%0APHONE%3A%20917.450.9368%0AGITHUB%3A%20https%3A%2F%2Fgithub.com%2Fyaritza%0ATWITTER%3A%20%40YaritzaNYC%0ABLOG%3A%20yaritzarodriguez-nyc.tumblr.com%2F" target="_blank"><img src="img2.png" alt="Business card icon"></a>
	</div> 

		<!-- <div class = "email-form">
      <form action="demo_form.asp" autocomplete="on">
        E-mail: <input type="email" name="email" autocomplete="on"><br>
        <div id = "submit"><input type="submit"></div>
      </form>
    </div> --> 
</div> <!-- end of icons --> 


<!-- link to resume:
https://docs.google.com/presentation/d/1JoBWNvod_WUPCGWXvYv_lc4ESRgSGBAW7wPxYGZ4cJY/edit?usp=sharing -->

